.lesson-card {
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid #ddd;
    margin: 16px 0px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    height: 250px;
}

.lesson-card:hover {
    border-color: #1571dd;
    box-shadow: 0 4px 12px rgba(21, 113, 221, 0.25);
    transform: scale(1.02);
}

.lesson-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.lesson-info {
    justify-items: center;
}

.lesson-title {
    color: #1571dd;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 4px;
}

.lesson-card:hover .lesson-title {
    color: #0b4da1;
    /* darker blue on hover */
}

.lesson-description {
    color: #757575;
    font-size: 1.04rem;
    margin: 0;
    text-align: center;
}

.lesson-title-main {
    font-weight: 700;
    color: #222;
    line-height: 1.18;
    text-decoration: underline;
}

.lesson-description-main {
    color: #333;
    margin-bottom: 18px;
    line-height: 1.5;
    text-align: justify;
}

.btn {
    /* height: 25px; */
    padding: 0px 10px !important;
}

@media (max-width: 480px) {
    .btn {
        height: auto;
    }
}